
{% extends 'base.html.twig' %}



{% block header %}
<div class="hero inner-page" style="background-image: url({{asset('images/hero_1_a.jpg')}})">
    <div class="container">
      <div class="row align-items-end ">
        <div class="col-lg-5">

          <div class="intro">
            <h1><strong>Création d'un Compte Client</strong></h1>
            {% if is_granted('ROLE_GERANT') %}
              <div class="custom-breadcrumbs"><a href="{{path('Acceuil')}}">Acceuil</a> <span class="mx-2">/</span></div>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}



{% block Description %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="form-group">
    {{ form_start(form) }}
      {% if error is defined %}
          <div class="alert alert-primary" role="alert">{{error}} est déja utilisé par Un autre Client Veuillez Le Modifier SVP</div>
      {% endif %}
        {{ form_widget(form) }}
        <form id="login" onsubmit="process(event)">
          <p>Telephone:</p>
          <input id="phone" type="tel" name="phone" />
          <input type="submit" value="Sauvegarder" class="btn btn-primary" />
        </form>
    {{ form_end(form) }}
    </div>
{% if is_granted('ROLE_GERANT') %}
    <a href="{{ path('Client') }}" class="btn btn-outline-primary">Retour a La Page Client</a>
{% endif %}


{% endblock %}


    
