<div class="site-section bg-light">
    <div class="container">
      <a href="{{ path('AjouterClient') }}" class="btn btn-outline-primary">Ajouter un Client</a>
        <form method="post" action="{{path('RechercheDateNaiss')}}" onsubmit="" class="trip-form">

          <div class="row align-items-center">
            
            <div class="mb-3 mb-md-0 col-md-3">
              <div class="form-control-wrap">
                <input type="date" id="cf-4" placeholder="date1" name="date1" class="form-control">
              </div>
            </div>

            <div class="mb-3 mb-md-0 col-md-3">
              <div class="form-control-wrap">
                <input type="date" id="cf-4" placeholder="date2" name="date2" class="form-control">
              </div>
            </div>

            <div class="mb-3 mb-md-0 col-md-3">
              <div class="form-control-wrap">
                
              </div>
            </div>

            <div class="mb-3 mb-md-0 col-md-3">
              <button class="btn btn-primary btn-block py-3">Rechercher</button>
            </div>

          </div>

        </form>
        <div class="row">
          <div class="col-lg-7">
            <h2 class="section-heading"><strong>Clients</strong></h2>
            <p class="mb-5">Liste de Vos Clients</p>    
          </div>
        </div>
        <div class="row">
        {% if clients is defined %}
          {% for client in clients %}
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="testimonial-2">
                <blockquote class="mb-4">
                  <h1>Informations du Client N°:{{ loop.index }}</h1>
                  <p>Cni:{{ client.cni }}    Id:{{ client.id }}</p>
                  <p>Telephone:{{ client.Telephone }}</p>
                  <p>DateNaissance:{{ client.DateNaissance ? client.DateNaissance|date('Y-m-d') : '' }}</p>
                  <p>Username:{{ client.UserName }}
                  </p><a href="{{ path('InfosClient', {'id': client.id}) }}" class="btn btn-outline-dark">Infos+</a></td>
                </blockquote>
                <div class="d-flex v-card align-items-center">
                  <img src="{{asset('ClientsImages/')~ client.image}}" alt="Image" class="img-fluid mr-3">
                  <div class="author-name">
                    <span class="d-block">{{ client.nom }}   {{ client.prenom }}</span>
                    <span>Nom Prenom</span>
                  </div>
                </div>
                {% if is_granted('ROLE_GERANT') %}
                <div class="d-flex flex-row">
                  <td><a href="{{ path('ModifierClient', {'id': client.id}) }}" class="btn btn-outline-primary" >Modifier</a></td>
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <form method="post" action="{{ path('SupprimerClient', {'id': client.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce Client?');">
                    <button class="btn btn-outline-danger">Supprimer</button>
                  </form>
                </div> 
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% else %}
          <h2 class="section-heading"><strong>Aucun Client présent pour l'instant</strong></h2>
        {% endif %}
            
          
        </div>
       
      </div>
      
    </div>
    